.home-typed-text .typed-cursor {
  display: none;
}

.custom-cursor {
  display: inline-block;
  font-weight: bold;
  animation: blink 0.5s infinite;
  color: gold;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
